{% extends "index.html" %}
{% block title %}About{% endblock %} 


{% block content %}


<h1 class="about-title">  About  </h1>

<h5 class="about-content">Welcome to the the shooting app 
    for a way to journal and track your shooting data.
    Future of this app will hopefully be a way for shooters 
    to connect and share data. As a veteran and a former law
    enforcement officer shooting is always a passion of mine. 
    I started learning about software development and web development
    over a year ago. Part of being able to complete the course I had to 
    build a full stack application. So I always got asked about shooting
    and site adjustments and etc. So I figured I would try and create a 
    app that could be used for shooting. Try and put my knowledge into 
    the application. Hopefully I can build this application in something useful.







</h5>


{% endblock %}