{% extends "index.html" %}
{% block title %}Distance{% endblock %} 


{% block content %}


<h1>Coming soon a way to track each shot for yardage</h1>

<div class="shotgroupcontainer">
    <div>
    <form class="yardline"> 
        <td><input type="text"> Yardage </td> <br>
       
   
    </form> <br>
    

    <div class="shotgrouptarget">
        
        <div class="target" >
    </div>
    </div>
    </div>

    <div>
        <form class="yardline"> 
            <td><input type="text"> Yardage </td> <br>
           
       
        </form> <br>
    <div class="shotgrouptarget">
        
        <div class="target" >
    </div>
    </div>
    </div>

    <div>
        <form class="yardline"> 
            <td><input type="text"> Yardage </td> <br>
           
       
        </form> <br>
    <div class="shotgrouptarget">
        
        <div class="target" >
    </div>           
    </div>  
    </div>     
</div>       
<!-- Need to add a function that adds anoter target on request just in case there was more grouping -->

<div class="siteadjustmentscontainer">
<div class=" siteadjustments">

<form class="shotform">
    <td><input type="text"> Elevation</td> <br>
<td><input type="text"> Windage <br> </td>


</form>
</div>
<div class=" site-adjustments">

    <form class="shotform">
        <td><input type="text"> Elevation</td> <br>
    <td><input type="text"> Windage <br> </td>
    
    
    </form>

</div>


<div class=" siteadjustments">

    <form class="shotform">
        <td><input type="text"> Elevation</td> <br>
    <td><input type="text"> Windage <br> </td> <br>
    
    
    </form>

</div>
</div>
{% endblock %}

<script>
    type="text/javascript"
       src="{{ url_for('static', filename='index.js') }}"
</script>
   