{% extends "base.html" %}
{% block title %}Zero{% endblock %} 


{% block content %}


<h1>Coming soon a way to track shot groups</h1>

<div class="shotgroupcontainer">

    <div class="shotgrouptarget">
        <h2>1</h2>
        <div class="target" >
            
    </div>
    <form class="shotform">
        <td><input type="text"> Elevation</td> <br>
    <td><input type="text"> Windage <br> <h3>Sites started at</h3></td>
    </div>

    <div class="shotgrouptarget">
        <h2>2</h2>
        <div class="target" >
    </div>
    <form class="shotform">
        <td><input type="text"> Elevation</td> <br>
    <td><input type="text"> Windage <br> <h3>Sites started at</h3></td>
    </div>
    
    <div class="shotgrouptarget">
        <h2>3</h2>
        <div class="target" >
    </div> 
    <form class="shotform">
        <td><input type="text"> Elevation</td> <br>
    <td><input type="text"> Windage <br> <h3>Sites started at</h3></td>
    </div>          
           
</div>       
<!-- Need to add a function that adds anoter target on request just in case there was more grouping -->



{% endblock %}

<script>
    type="text/javascript"
       src="{{ url_for('static', filename='index.js') }}"
</script>
   