{% extends "index.html" %}
{% block title %}Zero{% endblock %} 


{% block content %}


<h1 class="zeroTitle">A GOOD ZERO SETS THE FOUNDATIONS</h1>

<div id="formContainer" class="shotgroupcontainer">

    <div class="shotgrouptarget">
        
        <div class="target" > <img src="../static/images/B23-1.jpg">
            
    </div>
    <form id="bzo-grouping" class="shotform">
        <td><input type="text" placeholder="Elevation"></td> <br>
    <td><input type="text" placeholder="Windage">  <br> 
    </div>

   
   
</div> 

<div class="buttonNewFormContainer">
    <button class="newFormButton" type="button"  onclick="recreateForm()">ADD NEW TARGET</button>
</div>

<div class="buttonNewFormContainer">
        <button class="newFormButton" type="button"  onclick="deleteForm()">DELETE TARGET</button>
</div> 
<!-- Need to add a function that adds anoter target on request just in case there was more grouping -->



{% endblock %}

<script>
    type="text/javascript"
       src="{{ url_for('static', filename='index.js') }}"
</script>
   